<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568760376897-0egcdci0j6hendsciv0hv6rpq442ugmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568760376897-0egcdci0j6hendsciv0hv6rpq442ugmd</string>
	<key>API_KEY</key>
	<string>AIzaSyCdHYl8XNCmfuo7NqE0CNbLBlRY1_PKGsY</string>
	<key>GCM_SENDER_ID</key>
	<string>568760376897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ge.space.BankProject</string>
	<key>PROJECT_ID</key>
	<string>bank-71cc1</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-71cc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568760376897:ios:93886618d92961744270c0</string>
</dict>
</plist>